
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-color: #fcfbf2;
    font-family: 'Poppins', sans-serif;
    
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
}

.header-nav{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-left: 30%;
    box-sizing: border-box;
    
}  
 
.header-nav-item{
    color: #131212;
    text-decoration: none;
    font-size: 12px;
    transition: all 0.5s;
}

.header-nav-item:hover{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #18e738;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.3em;

}



.hero{
    padding: 0 15%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.hero-content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    background-image: url('../img/hero-image.svg');
    background-repeat: no-repeat;
    background-position: 80%;

}

.color-title{
    color: rgb(50,51,51);
}

.hero-title{
    font-size: 96px;
    margin: 0;

}

.hero-subtitle{
    font-size: 24px;
    margin: 30px 0;
}

.hero-button-contact{
    background-color: #18e738;
    padding: 9px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.5s;

}

.hero-button-container{
    margin-top: 6%;
}

.hero-button-skills{
    background-color: white;
    padding: 9px 50px;
    border-radius: 5px;
    text-decoration: none;
    color: #ff6253;
    font-weight: bold;
    font-size: 14px;
    border: solid 1px #ff6253;
    transition: all 0.5s;
    margin-left: 8%;

    
}

.hero-button-contact:hover{
    background-color: #ff6253;
}

.hero-button-skills:hover{
    background-color: #ff6253;
    color: white;
}

.tecno{
    background-color: rgb(50,51,51);
    color: white;
  
}

.tecno-content{
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding: 0 15%;

}

.tecno-cuadros{

    font-size: 14px;
    font-weight: 600;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px 10px 0;

}
.tecno-cuadros > img{
    width: 30%;
}



.about{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 15%;
}

.about-content{

    width: 100%;
    display: flex;
    justify-content: space-between;

}

.about-description{
    width: 50%;
}

.about-image{
    width: 35%;
}


.services{
    text-align: center;
    padding: 3% 15%;
}

.services-title{
    font-size: 28px;
    font-weight: 800;
}

.services-container{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.service{
    border: solid black 4px;
    width: 28%;
    padding: 3%;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 8px 0 0 0 #000;

}

.service-one{
    background-color: #9ea9fe;
}

.service-two{
    background-color: #b2fe77;
}

.service-three{
    background-color: #fee063;
}

.services-container h3{
    font-weight: 800;
    font-size: 20px;
}

.services-button{
    background-color: white;
    padding: 8px 40px;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    background-image: url('../img/arrow-right-solid.svg');
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 8%;
    transition: all 0.8s;
   
}


.services-button:hover{
    background-color: #ff6253;
    color: white;
    background-image: url('../img/arrow-right-solid-white.svg');

}


.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 15%;
    background-color: white;
}

.skills-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.skills-description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.skills-title{
    font-size: 28px;
    font-weight: 800;

}
.skills-image{
    width: 35%;
}   

.skill-bar {
    background-color: #e0e0e0;
    border-radius: 25px;
    height: 10px;
    width: 80%; /* Para asegurar que todas las barras tengan el mismo tamaño */
}

.skill-level-first {
    background-color: #ffd400;
    height: 100%;
    border-radius: 25px 0 0 25px;

}

.skill-level{
    background-color: #18e738;
    height: 100%;
    border-radius: 25px 0 0 25px;

}

.level-html {
    width: 70%;
}

.level-css {
    width: 80%;
}

.level-python {
    width: 90%;
}

.level-csharp {
    width: 60%;
}


.recent-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 15%;
}

.recent-projects-content{
    width: 100%;
}

.recent-projects-titles{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 3%;
}

.recent-projects-title{
    font-size: 28px;
    font-weight: 800;
}

.recent-projects-view{
    font-size: 18px;
    color: #ff6253;
    text-decoration: none;
    transition: all 0.5s;
}

.recent-projects-view:hover{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #18e738;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.3em;
}


.recent-projects-image-container{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    padding: 5% 15%;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.button-carrusel {
    position: absolute;
    cursor: pointer;
    
}

.button-carrusel-left{
    width: 30px;
    left: 0;
}
.button-carrusel-right{
    width: 30px;
    right: 0;
    
}

.recent-proyects-image-background{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 5px 1px #898989;
}

.recent-projects-image{
    width: 100%;
}

.portfolio{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 15%;
}

.portfolio-content{
    width: 100%;
    height: 100%;
    text-align: center;
}

.portfolio-title{
    font-size: 28px;
    font-weight: 800;
}

.portfolio-buttons{
    padding: 2% 0;
}

.portfolio-button{
    text-decoration: none;
    color: black;
    font-size: 14px;
    border-radius: 5px;
    padding: 9px 35px;
    transition: all 0.5s;
    font-weight: bold;
}

.portfolio-button:hover{
    background-color: #18e738;
    color: white;
}

.portfolio-images{
    height: 700px;
    padding: 3% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;
    margin-bottom: 2%;
}


.portfolio-project-container{
    width: 45%;
    height: 45%;
    overflow: hidden;
    border-radius: 10px;    
    border: solid 4px #fcfbf2;
    transition: all 0.5s;

}

.portfolio-proyect{
    width: 100%;
}

.portfolio-project-container:hover{
    border: solid 4px #18e738;
}


.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 15%;
}

.contact-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.contact-text{
    padding-top: 5%;
}

.contact-form-container{
    width: 45%;
}
.contact-form{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.contact-form > label{
    margin-bottom: 2%;
    color: #abacac;
    font-size: 12px;
}


.contact-input{
    margin-bottom: 5%;
    height: 40px;
    border: solid 2px #d8d8d8;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
}

.contact-input::placeholder{
    color: #abacac;
    font-size: 12px;
}

.contact-message{   
    height: 100px;
    resize: none;
}


.contact-title{
    font-size: 28px;
    font-weight: 800;
}

.contact-subtitle > span{
    color: #ff6253;
}

.form-title{
    font-size: 20px;
    font-weight: 800;
}

.contact-button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.newsletter{
    background-color: #fff6ca;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 15%;
}

.newsletter-content{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.newsletter-content > * {
    margin: 0 2%;
    
}
.newsletter-content > p {
    font-weight: 600;
    
}


.newsletter-button{
    display: flex;
    align-items: center;
}

.newsletter-input{
    height: 60px;
    border-radius: 20px;
    border: none;   
    padding: 20px 60px 20px 20px;
    box-sizing: border-box;
}
.newsletter-button-icon{

    background-color: #ff6253;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transform: translateX(-130%);
    transition: all 0.5s;
}

.newsletter-button-icon > img{
    width: 100%;
}

.newsletter-button-icon{
    cursor: pointer;
}


.newsletter-button-icon:hover{

    background-color: #18e738;

}

.quick-links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 15% 2% 15%;

}

.quick-links-content{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.quick-links-nav{
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
}
.quick-links-nav-item{
    color: #131212;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    transition: all 0.5s;
    margin: 0 3%;
    
}


.quick-links-nav-item:hover{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #18e738;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.3em;

}

.social-media{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
.social-media-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin: 0 2%;
    overflow: hidden;
}

.social-media-icons > img{
    width: 100%;
}


.social-media-icons:hover{
    cursor: pointer;
}

.copyright-information{
    font-size: 14px;
}